body {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

}

ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  height: 38px;
  margin-bottom: 21px;
  margin-top: auto;
  font-size: 17px;
  position: relative;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 940px;
}

.header {
  display: flex;
  flex-direction: column;
  background: #f4f7f9;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}

.header-bg {
  background: #293449;
  display: flex;
  justify-content: center;
}

.container--header {
  display: flex;
  height: 42px;
}

.page__logo {
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  min-height: 47px;
  padding: 0 55px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
}

.page__logo:hover {
  background-color: #ca2c37;
}

.page__logo:focus {
  background-color: #ba2732;
}

.input-header {
  background: transparent;
  border: none;
  padding-left: 45px;
  height: 100%;
  width: 100%;
  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 10px;
  opacity: 0.3;
}

.user__item--search {
  position: relative;
}

.user__item--bookmark {
  position: relative;
}

.user__item--basket {
  position: relative;
}

.user__item--bookmark::before {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 16px;
  background-image: url(../img/icon-bookmark.svg);
  opacity: 0.3;
  top: 11px;
  left: 13px;
}

.user__item--basket::before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url(../img/icon-cart.svg);
  opacity: 0.3;
  top: 11px;
  left: 13px;
}

.input-header::placeholder {
  color: #fff;
}

.input-header:hover {
  background-color: #212a3a;
}

.input-header:hover {
  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 10px;
  opacity: 1;
}

.input-header:focus {
  background-color: #fff;
  background-image: url(../img/icon-search-focus.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 10px;
  opacity: 1;
}

.user__item--basket:hover::before {
  opacity: 1;
}

.user__item--bookmark:hover::before {
  opacity: 1;
}

.user__item--search:hover::before {
  opacity: 1;
}

.user__item--basket:active {
  color: #fff;
}

.user__item--bookmark:active {
  color: #fff;
}

.user__item--search:active {
  color: #fff;
}

.input-header:focus::before {
  background-image: url(../img/icon-search-focus.svg);
}

.user__item--basket:active::before {
  opacity: 0.5;
}

.user__item--bookmark:active::before {
  opacity: 0.5;
}

.user-interface {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.user__item {
  width: 150px;
  height: 100%;
  display: flex;
}

.user__item--search {
  width: 281px;
}

.user__item--color {
  background-color: #63a63e;
}

.user__item--color:hover {
  background-color: #5fbb2d;
}

.user__item--color:active {
  background-color: #63a63e;
}

.user__item:hover {
  background-color: #212a3a;
}

.user__item:active {
  background-color: #161d29;
}

.user__item:last-child {
  margin-right: 0;
}

.user__link-item {
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container--header-inf {
  display: flex;
  padding-top: 46px;
  margin-bottom: 44px;
}

.header__title {
  font-size: 16px;
  color: #ee3643;
  width: 206px;
  height: 60px;
  margin: 0;
}

.header__contacts {
  margin-left: auto;
  margin-right: 69px;
}

.header-btn {
  padding: 0 14px 0 27px;
  height: 45px;
  background: #fff;
  margin-right: 10px;
}

.header-btn:hover {
  color: #ee3643;
}

.header-btn:active {
  opacity: 0.3;
}

.header-btn:last-child {
  margin-right: 0;
}

.header-tel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 45px;
  border: 3px solid #ffffff;
  color: #e9292a;
  font-size: 21px;
  position: relative;
}

.header-tel::before {
  content: "";
  display: block;
  position: absolute;
  width: 19px;
  height: 19px;
  background-image: url(../img/icon-phone.svg);
  left: 10px;
}

.header-tel {
  margin: 0;
}

.header-adress {
  color: #32425c;
  font-size: 14px;
}

.header-btn {
  position: relative;
}

.header-btn--login::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../img/icon-login.svg);
  width: 20px;
  height: 17px;
  left: 3px;
}

.header__menu {
  display: flex;
  justify-content: space-around;
  box-shadow: inset 0 -5px 0 #293449;
  background-color: #32425c;
}

.header__menu-item {
  height: 60px;
  display: flex;
  align-items: center;
}

.header__menu-link {
  height: 100%;
  display: flex;
  align-items: center;
  width: 134px;
  justify-content: center;
  color: #fff;
}

.header__menu-link:hover {
  background-color: #293449;
}

.header__menu-link:active {
  opacity: 0.5;
}

/*main*/

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-right: -20px;
  margin-bottom: -20px;
  margin-top: 59px;
}

.categories-item {
  width: 300px;
  height: 123px;
  background: #32425c;
  margin-right: 20px;
  margin-bottom: 20px;
  color: #fff;
  padding-left: 25px;
  padding-bottom: 20px;
}

.categories-item--material {
  background-color: #ffbf47;
  position: relative;
}

.categories-item--material::after {
  content: "";
  display: block;
  background-image: url(../img/new_flag.png);
  position: absolute;
  width: 60px;
  height: 59px;
  right: 0;
  top: 0;
}

.categories-item--material::before {
  content: "";
  display: block;
  background-image: url(../img/icon-1.svg);
  position: absolute;
  width: 44px;
  height: 65px;
  right: 36px;
  top: 42px;
}

.categories-item--delivery {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #ffc047;
}

.categories-item--delivery::before {
  content: "";
  display: block;
  background-image: url(../img/icon-5.svg);
  position: absolute;
  width: 78px;
  height: 63px;
  right: 36px;
  top: 42px;
}

.categories-item--slider {
  width: 620px;
  height: 266px;
  display: flex;
  flex-direction: column;
}

.categories-item--tool {
  background-color: #3bbce3;
  position: relative;
}

.categories-item--tool::before {
  content: "";
  display: block;
  background-image: url(../img/icon-2.svg);
  position: absolute;
  width: 75px;
  height: 61px;
  right: 20px;
  top: 42px;
}

.categories-item--tech {
  background-color: #dc91d8;
  position: relative;
}

.categories-item--tech::before {
  content: "";
  display: block;
  background-image: url(../img/icon-3.svg);
  position: absolute;
  width: 78px;
  height: 62px;
  right: 36px;
  top: 42px;
}

.categories-item--sale {
  background-color: #8ed78f;
  position: relative;
}

.categories-item--sale::before {
  content: "";
  display: block;
  background-image: url(../img/icon-4.svg);
  position: absolute;
  width: 59px;
  height: 72px;
  right: 36px;
  top: 42px;
}

.categories-item--slider {
  background: url(../img/Layer_99.png);
}

.categories__title--slider {
  text-transform: uppercase;
  margin-bottom: 0;
}

.categories-btn {
  width: 135px;
  height: 38px;
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
}

.categories-btn:hover {
  background: rgba(0, 0, 0, 0.2);
}

.categories-btn:active {
  background: rgba(0, 0, 0, 0.3);
}

.btn {
  border-radius: 2px;
}

.slider-btn {
  background-color: #ee3643;
  width: 195px;
  height: 38px;
  border-radius: 2px;
  margin-top: auto;
}

.red-btn {
  color: #fff;
}

.red-btn:hover {
  background-color: #ca2c37;
}

.red-btn:active {
  background-color: #ba2732;
}

/*popukar*/

.popular__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  height: 89px;
  background-color: #f9f5f0;
  padding: 0 30px;
  margin-top: 53px;
  margin-bottom: 20px
}

.popular__title {
  text-transform: uppercase;
}

.popular__block-btn {
  width: 253px;
  height: 38px;
  background-color: #ee3643;
}

.popular-hidden {
  padding-top: 26px;
  width: 200px;
  background: #fff;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  opacity: 0;
}

.popular__btn--green {
  width: 135px;
  height: 38px;
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #63a63e;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.popular__btn--brd {
  width: 135px;
  height: 38px;
  border: 3px solid #63a63e;
}

.popular__goods {
  display: flex;
}

.popular__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: 220px;
  height: 318px;
  border: 1px solid #eaeaea;
  position: relative;
}

.popular__item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.popular__item:hover .popular-hidden {
  opacity: 1;
}

.popular__btn--green:hover {
  background-color: #5fbb2d;
}

.popular__btn--green:active {
  background-color: #518534;
}

.popular__btn--brd:hover {
  border: 3px solid #32425c;
}

.popular__btn--brd:active {
  border: 3px solid #32425c;
  opacity: 0.3;
}

.popular__item--new::after {
  content: "";
  display: block;
  background-image: url(../img/new_flag.png);
  position: absolute;
  width: 60px;
  height: 59px;
  right: 0;
  top: 0;
}

.popular__item-title {
  text-align: center;
  font-size: 18px;
  padding-bottom: 18px;
}

.popular__item:last-child {
  margin-right: 0;
}

.popular__price--hidden {
  text-decoration: line-through;
  color: #a9a9a9;
  font-size: 17px;
}

.popular__btn--visible {
  width: 122px;
  height: 38px;
  background-color: #ee3643;
  color: #fff;
  margin-bottom: 21px;
  margin-top: auto;
  font-size: 17px;
  position: relative;
}

/*brand*/

.brand__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  height: 89px;
  background-color: #f9f5f0;
  padding: 0 30px;
  margin-top: 53px;
  margin-bottom: 20px
}

.brand__block-title {
  text-transform: uppercase;
}

.brand__btn {
  width: 253px;
  height: 38px;
  background-color: #ee3643;
}

.brand__catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 65px;
}

.brand__item {
  width: 220px;
  height: 145px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  margin-bottom: 20px;
}

.brand__item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.brand__item:active {
  opacity: 0.3;
}

.brand__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.brand__img {
  align-self: center
}

/*services*/

.services {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #f4f8f9;
  z-index: 1;
  padding: 68px 0 102px 0;
}

.services__title {
  text-transform: uppercase;
}

.services__text {
  width: 500px;
  line-height: 24px;
}

.services__block {
  display: flex;
}

.services__item {
  width: 240px;
  height: 61px;
  border-top: 1px solid #4d637b;
}

.services__item:first-child {
  border: none;
}

.services__active {
  background-color: #fff !important;
  color: #32425c !important;
}

.services__link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  width: 240px;
  height: 61px;
  box-shadow: inset 0 -1px 0 #33445a;
  background-color: #32425c;
  color: #fff;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  padding: 22px;
}

.services__desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 80px;
  position: relative;
  z-index: -2;
}

.services__list {
  position: relative;
}

.services__list::after {
  content: "";
  display: flex;
  position: absolute;
  height: 250px;
  width: 10px;
  background: url(../img/Layer_118.png) right no-repeat;
  top: -30px;
  right: -1px;
}

.services__img {
  position: absolute;
  z-index: -5;
  right: -400px;
  bottom: 0;
}

.services__desc-text {
  width: 330px;
}

.services__desc-title {
  text-transform: uppercase;
}

/*info*/

.info {
  width: 940px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 98px;
  padding-top: 72px;
}

.about {
  width: 519px;
}

.about__title {
  font-size: 30px;
  margin-bottom: 38px;
}

.about__text {
  margin-bottom: 38px;
}

.about__btn {
  width: 253px;
  height: 38px;
  background-color: #ee3643;
  margin-top: 37px;
}

.contacts__title {
  font-size: 30px;
  margin-bottom: 38px;
  text-transform: uppercase;
}

.contacts__text {
  margin-bottom: 38px;
}

.contacts__btn {
  width: 300px;
  height: 38px;
  background-color: #ee3643;
  margin-top: 37px;
}

/*footer*/

.footer {
  display: flex;
  justify-content: center;
  background: #32425c;
}

.footer__list {
  display: flex;
  margin-bottom: 32px;
}

.footer__logo {
  width: 220px;
  min-height: 68px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-right: auto;
}

.footer__list-item {
  margin-left: 60px;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.footer__logo-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.footer__list-link:hover {
  text-decoration: underline;
}

.footer__list-link:active {
  opacity: 0.5;
}

.footer__list-link {
  color: #f3f7f9;
}

.foooter__list-item {
  color: #f3f7f9;
  font-size: 18px;
  margin-left: auto;
}

.foooter__list-item:first-child {
  margin-left: 0;
}

.footer__list-link--color {
  color: #ffd180;
}

/*dwn footer*/
.dwn-footer {
  background-color: #293449;
  display: flex;
  justify-content: center;
}

.socials {
  display: flex;
  width: 940px;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.socials__list {
  display: flex;
}

.socials__list-item {
  position: relative;
  z-index: 5;
  width: 41px;
  height: 42px;
  border-radius: 50%;
  background-color: #212a3a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
}

.socials__list-item:hover {
  background-color: #ee3643;
}

.socials__list-item:active {
  background-color: #ee3643;
}

.socials__list-item:last-child {
  margin-right: 0;
}

.socials--color {
  color: #ffd180;
}

.socials--color:hover {
  text-decoration: underline;
}

.socials--color:active {
  color: #ee3643;
}

/*catalog*/

.main-catalog {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__nav {
  width: 940px;
  padding: 25px 0;
}

.main__nav-list {

  display: flex;
}

.main__nav-link {
  margin-right: 18px;
  text-transform: uppercase;
  position: relative;
}

.main__nav-item--arrow {
  position: relative;
}

.main__nav-item--arrow::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../img/icon-right-small.svg);
  width: 8px;
  height: 12px;
  top: 2px;
  left: -12px;
}

.catalog__title {
  width: 940px;
  padding: 32px 0 34px 30px;
  background-color: #f2f6f8;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.catalog__wrapper {
  width: 940px;
  display: flex;
  flex-wrap: wrap;
}

.catalog__filter {
  width: 100%;
}

.catalog__filter {
  display: flex;
  margin-bottom: 20px;
}

.filer__wrapper {
  display: flex;
  background-color: #f7f3ec;
  width: 700px;
}

.sort__list {
  display: flex;
  justify-content: space-between;
  padding: 14px 0 15px 18px;
  width: 354px;
  text-transform: uppercase;
  margin-right: 46px;
}

.sort__list-item a {
  color: #000000;
  opacity: 0.3;
}

.sort__list-item--active a {
  color: #ee3643;
  opacity: 1;
}

.sort__arrow {
  display: flex;
}

.filter__title {
  width: 220px;
  background-color: #f7f3ec;
  padding: 14px 0 15px 18px;
  text-transform: uppercase;
  margin: 0;
  margin-right: 20px;
}

.filter__sort-title {
  margin: 0;
  padding: 14px 0 15px 19px;
  margin-right: 139px;
  text-transform: uppercase;
}

.catalog__settings {
  width: 220px;
  margin-right: 20px;
}

.catalog__goods {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
}

.popular__item--goods {
  margin-bottom: 20px;
}

.popular__item--goods:nth-child(3n+3) {
  margin-right: 0;
}

.pagination {
  width: 700px;
  margin-top: 52px;
  margin-bottom: 60px;
}

.pagination__list {
  display: flex;
}

.pagination-btn {
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.pagination-btn:hover {
  background-color: #ee3643;
  color: #fff;
}

.pagination-btn--next {
  width: 140px;
}

.pagination-btn--active {
  background-color: #ee3643;
  color: #fff;
}

.description {
  background-color: #f2f6f8;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 67px 0 73px 0;
}

.description__title {
  width: 940px;
  text-transform: uppercase;
}

.description__text {
  width: 940px;
}

.setting__item {
  border: none;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
  min-inline-size: 0;
}

.price__point {
  position: relative;
}

.price__point::before {
  content: "";
  display: flex;
  position: absolute;
  background-image: url(../img/filter-button.svg);
  width: 20px;
  height: 22px;
  bottom: -11px;
  right: 164px;
  cursor: pointer;
  z-index: 10;
}

.price__point:last-child::before {
  right: 30px;
}

.setting__price {
  width: 220px;
  height: 80px;
  background-color: #f7f3ec;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price__line::before {
  content: "";
  display: flex;
  width: 140px;
  height: 2px;
  background-color: #00ca74;
}

.price__line {
  width: 180px;
  height: 2px;
  background-color: #d7dcde;
  z-index: 5;
}

.setting__item:nth-child(even) {
  border-bottom: 1px solid #e5e5e5;
}

.setting__item:first-child {
  border-bottom: 1px solid #e5e5e5;
}

.setting__title {
  text-transform: uppercase;
  margin-bottom: 25px;
  padding-top: 25px;
}

.setting__value {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.setting__value::before {
  content: "";
  display: flex;
  position: absolute;
  width: 10px;
  height: 1px;
  background-color: #444444;
  left: 104px;
  top: 35px;
}

.value__text {
  width: 95px;
  height: 38px;
  background-color: #f7f3ec;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox__item {
  margin-bottom: 17px;
}

.checkbox__label {
  position: relative;
  margin-left: 30px;
  text-transform: uppercase;
  cursor: pointer;
}

.checkbox__label::before {
  content: "";
  display: flex;
  position: absolute;
  background-image: url(../img/checkbox-off.svg);
  width: 23px;
  height: 23px;
  cursor: pointer;
}

input[type="checkbox"]:checked+.checkbox__label::before {
  content: "";
  display: flex;
  position: absolute;
  width: 23px;
  height: 23px;
  background-size: contain;
  background: url(../img/checkbox-on.svg) no-repeat;
}

.radio-item {
  margin-bottom: 17px;
}

.radio__label {
  margin-left: 35px;
  text-transform: uppercase;
}

.radio__label::before {
  content: "";
  display: flex;
  position: absolute;
  width: 25px;
  height: 25px;
  background-size: contain;
  background: url(../img/radio-off.svg) no-repeat;
}

input[type="radio"]:checked+.radio__label::before {
  content: "";
  display: flex;
  position: absolute;
  width: 25px;
  height: 25px;
  background-size: contain;
  background: url(../img/radio-on.svg) no-repeat;
}

.setting-btn {
  margin-top: 83px;
  width: 140px;
  height: 38px;
  border: 1px solid #e5e5e5;
}
