body {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

}

ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.container {
  width: 940px;
}

.header {
  display: flex;
  flex-direction: column;
  background: #f4f7f9;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}

.header-bg {
  background: #293449;
  display: flex;
  justify-content: center;
}

.container--header {
  display: flex;
  height: 42px;
}

.page__logo {
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  min-height: 47px;
  padding: 0 55px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
}

.page__logo:hover {
  background-color: #ca2c37;
}

.page__logo:focus {
  background-color: #ba2732;
}

.input-header {
  background: transparent;
  border: none;
}

.input-header:hover {
  background-color: #212a3a;
}

.user-interface {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.user__item {
  width: 150px;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.user__item--color{
  background-color: #63a63e;
}

.user__item--color:hover{
  background-color: #5fbb2d;
}

.user__item--color:active{
  background-color: #63a63e;
}
.user__item:hover {
  background-color: #212a3a;
}

.user__item:active {
  background-color: #161d29;
}

.user__item:last-child {
  margin-right: 0;
}

.user__link-item {
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container--header-inf {
  display: flex;
  padding-top: 46px;
  margin-bottom: 44px;
}

.header__title {
  font-size: 16px;
  color: #ee3643;
  width: 206px;
  height: 60px;
  margin: 0;
}

.header__contacts {
  margin-left: auto;
  margin-right: 69px;
}

.header-btn {
  width: 121px;
  height: 45px;
  background: #fff;
  margin-right: 10px;
}

.header-btn:hover{
  color: #ee3643;
}

.header-btn:active{
  opacity: 0.3;
}

.header-btn:last-child {
  margin-right: 0;
}

.header-tel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 45px;
  border: 3px solid #ffffff;
  color: #e9292a;
  font-size: 21px;
}

.header-tel {
  margin: 0;
}

.header-adress{
  color: #32425c;
  font-size: 14px;
}

.header__menu {
  display: flex;
  justify-content: space-around;
  box-shadow: inset 0 -5px 0 #293449;
  background-color: #32425c;
}

.header__menu-item {
  height: 60px;
  display: flex;
  align-items: center;
}

.header__menu-link {
  height: 100%;
  display: flex;
  align-items: center;
  width: 134px;
  justify-content: center;
  color: #fff;
}

.header__menu-link:hover{
  background-color: #293449;
}

.header__menu-link:active{
  opacity: 0.5;
}
/*main*/

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-right: -20px;
  margin-bottom: -20px;
  margin-top: 59px;
}

.categories-item {
  width: 300px;
  height: 123px;
  background: #32425c;
  margin-right: 20px;
  margin-bottom: 20px;
  color: #fff;
  padding-left: 25px;
  padding-bottom: 20px;
}

.categories-item--material {
  background-color: #ffbf47;
}

.categories-item--delivery {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #ffc047;
}

.categories-item--slider {
  width: 620px;
  height: 266px;
  display: flex;
  flex-direction: column;
}

.categories-item--tool {
  background-color: #3bbce3;
}

.categories-item--tech {
  background-color: #dc91d8;
}

.categories-item--sale {
  background-color: #8ed78f;
}

.categories-item--slider {
  background: url(../img/Layer_99.png);
}

.categories__title--slider {
  text-transform: uppercase;
  margin-bottom: 0;
}

.categories-btn {
  width: 135px;
  height: 38px;
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
}

.categories-btn:hover{
  background: rgba(0, 0, 0, 0.2);
}

.categories-btn:active{
  background: rgba(0, 0, 0, 0.3);
}

.btn {
  border-radius: 2px;
}

.slider-btn {
  background-color: #ee3643;
  width: 195px;
  height: 38px;
  border-radius: 2px;
  margin-top: auto;
}

.red-btn{
  color: #fff;
}

.red-btn:hover{
  background-color: #ca2c37;
}

.red-btn:active{
  background-color: #ba2732;
}
/*popukar*/

.popular__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  height: 89px;
  background-color: #f9f5f0;
  padding: 0 30px;
  margin-top: 53px;
  margin-bottom: 20px
}

.popular__title {
  text-transform: uppercase;
}

.popular__block-btn {
  width: 253px;
  height: 38px;
  background-color: #ee3643;
}

.popular__goods {
  display: flex;
}

.popular__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: 220px;
  height: 318px;
  border: 1px solid #eaeaea;
}

.popular__item-title {
  text-align: center;
  font-size: 18px;
  padding-bottom: 18px;
}

.popular__item:last-child {
  margin-right: 0;
}

.popular__price--hidden {
  text-decoration: line-through;
  color: #a9a9a9;
  font-size: 17px;
}

.popular__btn--visible {
  width: 122px;
  height: 38px;
  background-color: #ee3643;
  color: #fff;
  margin-bottom: 21px;
  margin-top: auto;
  font-size: 17px;
  position: relative;
}

.popular__btn--visible::after {
  display: block;
  content: "";
  position: absolute;
  width: 26px;
  height: 23px;
  background: #ee3643;
  right: -14px;
  transition: 5deg;
  transform: rotate(45deg);
  bottom: 8px;
}

.popular__btn--visible::before {
  display: block;
  content: "";
  position: absolute;
  width: 24px;
  height: 25px;
  background: #ee3643;
  right: -12px;
  transform: rotate(44deg);
  bottom: 5px;
}

/*brand*/

.brand__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  height: 89px;
  background-color: #f9f5f0;
  padding: 0 30px;
  margin-top: 53px;
  margin-bottom: 20px
}

.brand__block-title {
  text-transform: uppercase;
}

.brand__btn {
  width: 253px;
  height: 38px;
  background-color: #ee3643;
}

.brand__catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 65px;
}

.brand__item {
  width: 220px;
  height: 145px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  margin-bottom: 20px;
}

.brand__item:hover{
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.brand__item:active{
  opacity: 0.3;
}

.brand__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.brand__img {
  align-self: center
}

/*services*/

.services {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #f4f8f9;
  z-index: 1;
  padding: 68px 0 102px 0;
}

.services__title {
  text-transform: uppercase;
}

.services__text {
  width: 500px;
  line-height: 24px;
}

.services__block {
  display: flex;
}

.services__item {
  width: 240px;
  height: 61px;
  border-top: 1px solid #4d637b;
}

.services__item:first-child {
  border: none;
}

.services__active {
  background-color: #fff !important;
  color: #32425c !important;
}

.services__link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  width: 240px;
  height: 61px;
  box-shadow: inset 0 -1px 0 #33445a;
  background-color: #32425c;
  color: #fff;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  padding: 22px;
}

.services__desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 80px;
  position: relative;
  z-index: -2;
}

.services__list {
  position: relative;
}

.services__list::after {
  content: "";
  display: flex;
  position: absolute;
  height: 250px;
  width: 10px;
  background: url(../img/Layer_118.png) right no-repeat;
  top: -30px;
  right: -1px;
}

.services__img {
  position: absolute;
  z-index: -5;
  right: -400px;
  bottom: 0;
}

.services__desc-text {
  width: 330px;
}

.services__desc-title {
  text-transform: uppercase;
}

/*info*/

.info {
  width: 940px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 98px;
  padding-top: 72px;
}

.about {
  width: 519px;
}

.about__title {
  font-size: 30px;
  margin-bottom: 38px;
}

.about__text {
  margin-bottom: 38px;
}

.about__btn {
  width: 253px;
  height: 38px;
  background-color: #ee3643;
  margin-top: 37px;
}

.contacts__title {
  font-size: 30px;
  margin-bottom: 38px;
  text-transform: uppercase;
}

.contacts__text {
  margin-bottom: 38px;
}

.contacts__btn {
  width: 300px;
  height: 38px;
  background-color: #ee3643;
  margin-top: 37px;
}

/*footer*/

.footer {
  display: flex;
  justify-content: center;
  background: #32425c;
}

.footer__list {
  display: flex;
  margin-bottom: 32px;
}

.footer__logo {
  width: 220px;
  min-height: 68px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-right: auto;
}

.footer__list-item {
  margin-left: 60px;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.footer__list-link {
  color: #f3f7f9;
}

.foooter__list-item {
  color: #f3f7f9;
  font-size: 18px;
  margin-left: auto;
}

.foooter__list-item:first-child {
  margin-left: 0;
}

.footer__list-link--color {
  color: #ffd180;
}

/*dwn footer*/
.dwn-footer {
  background-color: #293449;
  display: flex;
  justify-content: center;
}

.socials {
  display: flex;
  width: 940px;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.socials__list {
  display: flex;
}

.socials__list-item {
  position: relative;
  z-index: 5;
  width: 41px;
  height: 42px;
  border-radius: 50%;
  background-color: #212a3a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
}

.socials__list-item:last-child {
  margin-right: 0;
}

.socials--color {
  color: #ffd180;
}
